
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;


}

.exerciseMainFeatures {
    display: grid;

}

.exerciseMainFeatures .exerciseMarketingFeature {


}

.exerciseMainFeatures .exerciseMarketingFeature:first-child {

}

.exerciseAdditionalFeatures {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 350px;
    gap: 10px;


}

.exerciseAdditionalFeatures .exerciseMarketingFeature {


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}